@use 'sass:map';
@use '../../../abstracts/forward.scss' as *;

$tokens: (
  height: 16rem,
  border: (
    radius: 8rem,
  ),
  background: (
    color: color-mix(in srgb, map.get($theme-color-link, on-surface) 16%, transparent),
  ),
  tickmarks: (
    color: color-mix(in srgb, map.get($theme-color-link, on-surface) state-opacity(disabled-content), transparent),
    active: (
      color: color-mix(in srgb, map.get($theme-color-link, on-primary) 38%, transparent),
    ),
  ),
);
