@use 'sass:map';
@use '../../abstracts/variables' as *;

$tokens: (
  container: (
    bg: map.get($theme-color-link, 'surface-container-highest'),
    radius: map.get($theme-shape-link, extra-large),
    shadow: var(--sys-elevation-3),
  ),
  header: (
    padding: 24rem 24rem 12rem,
    headline: (
      label: (
        typography: map.get($theme-typography-link, label, medium),
        color: map.get($theme-color-link, 'on-surface-variant'),
      ),
      date: (
        typography: map.get($theme-typography-link, headline, large),
        color: map.get($theme-color-link, 'on-surface'),
        placeholder: (
          color: map.get($theme-color-link, 'on-surface-variant'),
        ),
      ),
    ),
  ),
  controls: (
    view: (
      toggle: (
        typography: map.get($theme-typography-link, label, large),
        color: map.get($theme-color-link, 'on-surface-variant'),
        hover: (
          bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface-variant')} 8%, transparent),
        ),
      ),
    ),
    icon: (
      button: (
        size: 40rem,
        color: map.get($theme-color-link, 'on-surface-variant'),
        hover: (
          bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface-variant')} 8%, transparent),
        ),
      ),
    ),
  ),
  weekday: (
    height: 40rem,
    typography: map.get($theme-typography-link, body, small),
    color: map.get($theme-color-link, 'on-surface'),
  ),
  day: (
    size: 40rem,
    typography: map.get($theme-typography-link, body, small),
    color: map.get($theme-color-link, 'on-surface'),
    disabled: (
      opacity: 0.38,
    ),
    hover: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface')} 8%, transparent),
    ),
    today: (
      color: map.get($theme-color-link, 'primary'),
      outline: (
        width: 1rem,
      ),
    ),
    selected: (
      bg: map.get($theme-color-link, 'primary'),
      color: map.get($theme-color-link, 'on-primary'),
      hover: (
        bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-primary')} 8%, #{map.get($theme-color-link, 'primary')}),
      ),
    ),
  ),
  year: (
    height: 48rem,
    typography: map.get($theme-typography-link, body, large),
    color: map.get($theme-color-link, 'on-surface-variant'),
    hover: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface-variant')} 8%, transparent),
    ),
    selected: (
      bg: map.get($theme-color-link, 'primary'),
      color: map.get($theme-color-link, 'on-primary'),
    ),
    current: (
      color: map.get($theme-color-link, 'primary'),
    ),
  ),
  footer: (
    padding: 8rem 24rem 24rem,
    gap: 8rem,
  ),
);
