// ==========================================
// LIST LOCAL TOKENS
// Extracted from app/components/ui/list/index.vue
// ==========================================

// --- Base ---
$padding-block: 8rem !default;
$padding-inline: 0 !default;
$border-radius: var(--sys-shape-corner-medium) !default;
$bg-color: var(--color-surface) !default;
