// ==========================================
// TOOLTIP LOCAL TOKENS
// Extracted from app/components/ui/tooltip/index.vue
// ==========================================

// --- Base ---
$z-index: 10 !default;

// --- Content ---
$content-offset: 8rem !default;
$content-padding: 4rem 8rem !default;
$content-border-radius: var(--sys-shape-corner-small) !default;
$content-bg-color: var(--color-on-surface) !default;
$content-color: var(--color-surface-variant) !default;
$content-shadow: 0 2rem 4rem rgb(0 0 0 / 15%) !default;

// --- Typography ---
$content-text-type: 'body-small' !default;
