@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

// ==========================================
// TOOLTIP M3 COMPONENT TOKENS
// ==========================================

$tokens: (
  content: (
    offset: 8rem,
    padding: 4rem 8rem,
    border: (
      radius: var(--sys-shape-corner-small),
    ),
    bg: (
      color: var(--color-on-surface),
    ),
    color: var(--color-surface-variant),
    shadow: (0 2rem 4rem rgb(0 0 0 / 15%)),
    text: (
      type: 'body-small',
    ),
  ),
);
