@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

$tokens: (
  padding: 16rem,
  gap: 12rem,
  radius: var(--sys-shape-corner-medium),
  border: (width: 1rem),

  hover: (opacity: state-opacity(hover)),
  state: (layer: (color: map.get($theme-color-link, 'on-surface'))),

  title: (type: 'title-medium'),
  subtitle: (
    type: 'body-medium',
    color: map.get($theme-color-link, 'on-surface-variant'),
  ),
  content: (type: 'body-medium'),

  elevated: (
    bg: map.get($theme-color-link, 'surface-container-low'),
    shadow: elevation(1),
    hover: (shadow: elevation(2)),
  ),
  filled: (
    bg: map.get($theme-color-link, 'surface-container-highest'),
    shadow: elevation(0),
    hover: (shadow: elevation(1)),
  ),
  outlined: (
    bg: map.get($theme-color-link, 'surface'),
    border: (color: map.get($theme-color-link, 'outline-variant')),
    shadow: elevation(0),
    hover: (shadow: elevation(1)),
  ),
);
