@use 'sass:map';
@use '../../abstracts/variables' as *;

$tokens: (
  padding: 16rem,
  gap: 12rem,
  radius: var(--sys-shape-corner-medium),
  border: (width: 1rem),

  hover: (opacity: 8%),
  state: (layer: (color: map.get($theme-color-link, 'on-surface'))),

  title: (type: 'title-medium'),
  subtitle: (
    type: 'body-medium',
    color: map.get($theme-color-link, 'on-surface-variant'),
  ),
  content: (type: 'body-medium'),

  elevated: (
    bg: map.get($theme-color-link, 'surface-container-low'),
    shadow: (0 1rem 3rem 1rem rgb(0 0 0 / 15%), 0 1rem 2rem rgb(0 0 0 / 30%)),
    hover: (shadow: (0 2rem 6rem 2rem rgb(0 0 0 / 15%), 0 1rem 2rem rgb(0 0 0 / 30%))),
  ),
  filled: (
    bg: map.get($theme-color-link, 'surface-container-highest'),
    shadow: none,
    hover: (shadow: (0 1rem 3rem 1rem rgb(0 0 0 / 15%), 0 1rem 2rem rgb(0 0 0 / 30%))),
  ),
  outlined: (
    bg: map.get($theme-color-link, 'surface'),
    border: (color: map.get($theme-color-link, 'outline-variant')),
    shadow: none,
    hover: (shadow: (0 1rem 3rem 1rem rgb(0 0 0 / 15%), 0 1rem 2rem rgb(0 0 0 / 30%))),
  ),
);
