/* font faces */

@import 'https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap';

:root {
  /* Typefaces */
  --md-ref-typeface-brand: 'Google Sans', sans-serif;
  --md-ref-typeface-plain: 'Google Sans Text', sans-serif;
  --md-ref-typeface-monospace: 'Google Sans', monospace;

  /* Display */
  --md-sys-typescale-display-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-large-line-height: 64rem;
  --md-sys-typescale-display-large-size: 57rem;
  --md-sys-typescale-display-large-weight: 400;
  --md-sys-typescale-display-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-medium-line-height: 52rem;
  --md-sys-typescale-display-medium-size: 45rem;
  --md-sys-typescale-display-medium-weight: 400;
  --md-sys-typescale-display-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-display-small-line-height: 44rem;
  --md-sys-typescale-display-small-size: 36rem;
  --md-sys-typescale-display-small-weight: 400;

  /* Headline */
  --md-sys-typescale-headline-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-large-line-height: 40rem;
  --md-sys-typescale-headline-large-size: 32rem;
  --md-sys-typescale-headline-large-weight: 400;
  --md-sys-typescale-headline-medium-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-medium-line-height: 36rem;
  --md-sys-typescale-headline-medium-size: 28rem;
  --md-sys-typescale-headline-medium-weight: 400;
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-line-height: 32rem;
  --md-sys-typescale-headline-small-size: 24rem;
  --md-sys-typescale-headline-small-weight: 400;

  /* Title */
  --md-sys-typescale-title-large-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-line-height: 28rem;
  --md-sys-typescale-title-large-size: 22rem;
  --md-sys-typescale-title-large-weight: 400;
  --md-sys-typescale-title-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-line-height: 24rem;
  --md-sys-typescale-title-medium-size: 16rem;
  --md-sys-typescale-title-medium-weight: 500;
  --md-sys-typescale-title-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-line-height: 20rem;
  --md-sys-typescale-title-small-size: 14rem;
  --md-sys-typescale-title-small-weight: 500;

  /* Label */
  --md-sys-typescale-label-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-line-height: 20rem;
  --md-sys-typescale-label-large-size: 14rem;
  --md-sys-typescale-label-large-weight: 500;
  --md-sys-typescale-label-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-line-height: 16rem;
  --md-sys-typescale-label-medium-size: 12rem;
  --md-sys-typescale-label-medium-weight: 500;
  --md-sys-typescale-label-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-line-height: 16rem;
  --md-sys-typescale-label-small-size: 11rem;
  --md-sys-typescale-label-small-weight: 500;

  /* Body */
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-line-height: 24rem;
  --md-sys-typescale-body-large-size: 16rem;
  --md-sys-typescale-body-large-weight: 400;
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-line-height: 20rem;
  --md-sys-typescale-body-medium-size: 14rem;
  --md-sys-typescale-body-medium-weight: 400;
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-line-height: 16rem;
  --md-sys-typescale-body-small-size: 12rem;
  --md-sys-typescale-body-small-weight: 400;
}
