@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

$tokens: (
  reveal: (
    duration: var(--sys-motion-duration-medium-2),
    easing: var(--sys-motion-easing-emphasized-decelerate),
  ),
  alert: (
    gap: spacing(12),
    message: (
      color: map.get($theme-color-link, 'error'),
    ),
  ),
);
