@use "../../abstracts/forward" as *;

@include theme-definition('light', '_m3-fallback') {
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #1b1b1b;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #1b1b1b;
  --md-sys-color-on-surface-variant: #474747;
  --md-sys-color-outline: #777;
  --md-sys-color-outline-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #f1f1f1;
  --md-sys-color-primary: #000;
  --md-sys-color-primary-dim: #000;
  --md-sys-color-on-primary: #e2e2e2;
  --md-sys-color-primary-container: #3b3b3b;
  --md-sys-color-on-primary-container: #fff;
  --md-sys-color-primary-fixed: #5e5e5e;
  --md-sys-color-primary-fixed-dim: #474747;
  --md-sys-color-on-primary-fixed: #fff;
  --md-sys-color-on-primary-fixed-variant: #e2e2e2;
  --md-sys-color-inverse-primary: #c6c6c6;
  --md-sys-color-secondary: #5e5e5e;
  --md-sys-color-secondary-dim: #525252;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-secondary-container: #d4d4d4;
  --md-sys-color-on-secondary-container: #1b1b1b;
  --md-sys-color-secondary-fixed: #c6c6c6;
  --md-sys-color-secondary-fixed-dim: #ababab;
  --md-sys-color-on-secondary-fixed: #1b1b1b;
  --md-sys-color-on-secondary-fixed-variant: #3b3b3b;
  --md-sys-color-tertiary: #3b3b3b;
  --md-sys-color-tertiary-dim: #303030;
  --md-sys-color-on-tertiary: #e2e2e2;
  --md-sys-color-tertiary-container: #747474;
  --md-sys-color-on-tertiary-container: #fff;
  --md-sys-color-tertiary-fixed: #5e5e5e;
  --md-sys-color-tertiary-fixed-dim: #474747;
  --md-sys-color-on-tertiary-fixed: #fff;
  --md-sys-color-on-tertiary-fixed-variant: #e2e2e2;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #a80710;
  --md-sys-color-on-error: #fff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}
