@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

// ==========================================
// NAVIGATION RAIL M3 COMPONENT TOKENS
// (shared by navigation-rail/index.vue and navigation-rail/item/index.vue)
// ==========================================

$width: 96rem;
$width-expanded: 256rem;
$tokens: (
  container: (
    width: $width,
    width-expanded: $width-expanded,
    padding: (
      block: 12rem,
      inline: 8rem,
    ),
    shape: var(--sys-shape-corner-large),
    color: map.get($theme-color-link, 'surface'),
    shadow: 0 0 0 1rem color-mix(in srgb, #{map.get($theme-color-link, 'outline-variant')} 40%, transparent),
    gap: 8rem,
    text: (
      color: map.get($theme-color-link, 'on-surface-variant'),
    ),
  ),
  item: (
    color: map.get($theme-color-link, 'on-surface-variant'),
    active: (
      color: map.get($theme-color-link, 'primary'),
    ),
    typography: 'label-small',
    indicator: (
      color: map.get($theme-color-link, 'secondary-container'),
      hover: (
        color: map.get($theme-color-link, 'on-surface'),
        opacity: 0.08,
      ),
      active: (
        hover: (
          opacity: 0.12,
        ),
      ),
    ),
    hover: (
      color: map.get($theme-color-link, 'on-surface'),
    ),
  ),
  icon: (
    size: 24rem,
  ),
  badge: (
    top: -12rem,
    right: -24rem,
  ),
);
