@use 'sass:map';
@use '../../../abstracts/forward.scss' as *;

$tokens: (
  container: (
    shape: map.get($theme-shape-link, extra-large),
    color: map.get($theme-color-link, surface-container-high),
    padding: 24rem,
    gap: 24rem,
  ),
  face: (
    size: 256rem,
    shape: map.get($theme-shape-link, full),
    color: map.get($theme-color-link, surface-variant),
  ),
  selector: (
    color: map.get($theme-color-link, primary),
    width: 2rem,
    knob: (
      size: 8rem,
    ),
    handle: (
      size: 32rem,
    ),
    offset: 24rem,
    offset-inner: 64rem,
    transition: (
      duration: map.get($theme-animation-link, duration, short, 4),
      easing: map.get($theme-animation-link, easing, standard)
    )
  ),
  number: (
    color: (
      default: map.get($theme-color-link, on-surface),
      active: map.get($theme-color-link, on-primary),
    ),
    typography: map.get($theme-typography-link, body, large),
  )
);
