@use 'sass:map';
@use '../../abstracts/forward' as *;

// ==========================================
// APP BAR M3 COMPONENT TOKENS
// ==========================================

$tokens: (
  // Base Container Styling
  container: (color: map.get($theme-color-link, surface),
    shadow: none,
    scrolled: (color: map.get($theme-color-link, surface-container),
      shadow: (0 1rem 3rem 0 rgb(0 0 0 / 15%), 0 1rem 2rem 0 rgb(0 0 0 / 30%)),
    ),
    padding: (inline: 16rem,
      block: 8rem,
    ),
    gap: 8rem,
  ),

  // Height Variants
  height: (center-aligned: 64rem,
    small: 64rem,
    medium: 112rem,
    medium-with-subtitle: 136rem,
    large: 120rem,
    large-with-subtitle: 152rem,
  ),

  // Child Elements
  nav: (min-width: 48rem,
    min-height: 48rem,
  ),
  title: (gap: 2rem,
    text: (color: map.get($theme-color-link, on-surface),
      typography: (small: map.get($theme-typography-link, title, large),
        medium: map.get($theme-typography-link, headline, small),
        large: map.get($theme-typography-link, headline, medium),
      ))),
  subtitle: (color: map.get($theme-color-link, on-surface-variant),
    typography: map.get($theme-typography-link, body, medium),
  ),
  actions: (gap: 4rem,
  )
);