@use 'sass:map';
@use '../../abstracts/variables' as *;

$tokens: (
  container: (
    bg: var(--color-surface-container-highest),
    radius: map.get($theme-shape-link, extra-large),
    shadow: var(--sys-elevation-3),
  ),
  header: (
    padding: 24rem 24rem 12rem,
    headline: (
      label: (
        typography: map.get($theme-typography-link, label, medium),
        color: map.get($theme-color-link, 'on-surface-variant'),
      ),
      date: (
        typography: map.get($theme-typography-link, headline, large),
        color: map.get($theme-color-link, 'on-surface'),
        placeholder: (
          color: map.get($theme-color-link, 'on-surface-variant'),
        ),
      ),
    ),
  ),
  body: (
    padding: 8rem 24rem 16rem,
  ),
  footer: (
    padding: 8rem 24rem 24rem,
    gap: 8rem,
  ),
);
