@use "../../abstracts/forward" as *;

@include theme-definition('light', 'brown') {
  --md-sys-color-primary: #89511f;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ffdcc4;
  --md-sys-color-on-primary-container: #6c3a08;
  --md-sys-color-secondary: #745944;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ffdcc4;
  --md-sys-color-on-secondary-container: #5a412e;
  --md-sys-color-tertiary: #5d6236;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #e2e7b0;
  --md-sys-color-on-tertiary-container: #454a21;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-background: #fff8f5;
  --md-sys-color-on-background: #221a14;
  --md-sys-color-surface: #fff8f5;
  --md-sys-color-on-surface: #221a14;
  --md-sys-color-surface-variant: #f3dfd2;
  --md-sys-color-on-surface-variant: #51443b;
  --md-sys-color-outline: #847469;
  --md-sys-color-outline-variant: #d6c3b7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #382f28;
  --md-sys-color-inverse-on-surface: #feeee4;
  --md-sys-color-inverse-primary: #ffb77f;
}
