@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

// ==========================================
// TABLE M3 COMPONENT TOKENS
// ==========================================

$tokens: (
  container: (
    bg: map.get($theme-color-link, 'surface'),
    border: (
      radius: var(--sys-shape-corner-medium),
      color: map.get($theme-color-link, 'outline-variant'),
      width: 1rem,
    ),
  ),
  row: (
    border: (
      color: map.get($theme-color-link, 'outline-variant'),
      width: 1rem,
    ),
    hover: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface')} 4%, transparent),
    ),
    selected: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'primary')} 8%, transparent),
    ),
  ),
  cell: (
    padding: 12rem 16rem,
    color: map.get($theme-color-link, 'on-surface'),
    text: (
      type: 'body-medium',
    ),
    checkbox: (
      width: 48rem,
      padding: (
        inline: 12rem,
      ),
    ),
  ),
  header: (
    bg: map.get($theme-color-link, 'surface-container-low'),
    color: map.get($theme-color-link, 'on-surface-variant'),
    text: (
      type: 'label-large',
    ),
    hover: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface')} 8%, transparent),
    ),
    content: (
      gap: 4rem,
    ),
    sort: (
      icon: (
        size: 16rem,
        color: map.get($theme-color-link, 'on-surface'),
      ),
    ),
  ),
  pagination: (
    padding: 8rem 16rem,
    gap: 24rem,
    border: (
      color: map.get($theme-color-link, 'outline-variant'),
      width: 1rem,
    ),
    info: (
      color: map.get($theme-color-link, 'on-surface-variant'),
      text: (
        type: 'body-small',
      ),
    ),
    actions: (
      gap: 8rem,
    ),
  ),
);
