@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

// ==========================================
// FAB MENU M3 COMPONENT TOKENS
// ==========================================

$tokens: (
  icon: (
    size: 24rem,
  ),
  drawer: (
    margin: (
      bottom: 16rem,
    ),
  ),
  list: (
    gap: 16rem,
  ),
  item: (
    gap: 16rem,
    bg: (
      color: map.get($theme-color-link, 'primary-container'),
    ),
    text: (
      color: map.get($theme-color-link, 'on-primary-container'),
      type: 'label-large',
    ),
    border: (
      radius: 16rem,
    ),
    padding: (12rem 16rem),
    shadow: (0 4rem 8rem 3rem rgb(0 0 0 / 15%), 0 1rem 3rem rgb(0 0 0 / 30%)),
    icon: (
      size: 24rem,
    ),
  ),
  motion: (
    item: (
      duration: var(--sys-motion-duration-medium-2),
      easing: var(--sys-motion-easing-emphasized-decelerate),
      leave: (
        duration: var(--sys-motion-duration-short-4),
        easing: var(--sys-motion-easing-emphasized-accelerate),
      ),
      stagger: 50ms,
      shift: 16rem,
    ),
    icon: (
      duration: var(--sys-motion-duration-medium-1),
      easing: var(--sys-motion-easing-standard),
    ),
    drawer: (
      duration: var(--sys-motion-duration-medium-2),
      easing: var(--sys-motion-easing-standard),
    ),
  ),
);
