@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

// ==========================================
// EXPANSION PANEL M3 COMPONENT TOKENS
// ==========================================

$tokens: (
  base: (
    bg: (
      default: map.get($theme-color-link, 'surface'),
      expanded: map.get($theme-color-link, 'surface-container-low'),
    ),
    border: (
      radius: var(--sys-shape-corner-medium),
    ),
    expanded: (
      shadow: 0 1rem 3rem rgb(0 0 0 / 8%),
    ),
  ),
  header: (
    gap: 16rem,
    min: (
      height: 56rem,
    ),
    padding: 12rem 24rem,
    text: (
      color: map.get($theme-color-link, 'on-surface'),
    ),
    hover: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface')} 8%, transparent),
    ),
    active: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface')} 12%, transparent),
    ),
    content: (
      gap: 4rem,
    ),
  ),
  trailing: (
    icon: (
      size: 24rem,
    ),
    color: (
      default: map.get($theme-color-link, 'on-surface-variant'),
      active: map.get($theme-color-link, 'primary'),
    ),
  ),
  content: (
    padding: (
      inline: 24rem,
      bottom: 24rem,
    ),
    text: (
      color: map.get($theme-color-link, 'on-surface-variant'),
    ),
  ),
  description: (
    text: (
      color: map.get($theme-color-link, 'on-surface-variant'),
    ),
  ),
  typography: (
    title: 'body-large',
    description: 'body-medium',
    content: 'body-medium',
  ),
  disabled: (
    opacity: 0.38,
  ),
);
