@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

$tokens: (
  root: (
    gap: 4rem,
  ),
  selections: (
    gap: 4rem,
  ),
  menu: (
    margin-top: 4rem,
    max-height: 320rem,
  ),
  list: (
    padding-block: 8rem,
  ),
  option: (
    min-height: 48rem,
    padding-inline: 16rem,
    color: map.get($theme-color-link, on-surface),
    selected-color: map.get($theme-color-link, on-secondary-container),
    selected-container: map.get($theme-color-link, secondary-container),
    hover-container: color-mix(in srgb, #{map.get($theme-color-link, on-surface)} 8%, transparent),
    active-container: color-mix(in srgb, #{map.get($theme-color-link, on-surface)} 12%, transparent),
    disabled-opacity: 38%,
  ),
  state: (
    padding: 24rem,
    color: map.get($theme-color-link, on-surface-variant),
  ),
);
