@use 'sass:map';
@use '../../abstracts/forward.scss' as *;

// ==========================================
// MENU M3 COMPONENT TOKENS
// ==========================================

$tokens: (
  surface: (
    top: 72rem,
    right: 32rem,
    min: (
      width: 112rem,
    ),
    max: (
      width: 280rem,
    ),
    border: (
      radius: map.get($theme-shape-link, 'extra-small'),
    ),
    bg: (
      color: var(--color-surface-container, var(--color-surface)),
    ),
    color: map.get($theme-color-link, 'on-surface'),
    shadow: (0 2rem 6rem 2rem rgb(0 0 0 / 15%), 0 1rem 2rem rgb(0 0 0 / 30%)),
  ),
  item: (
    min: (
      height: 48rem,
    ),
    padding: 0 12rem,
    gap: 12rem,
    text: (
      color: map.get($theme-color-link, 'on-surface'),
      type: 'label-large',
    ),
    shortcut: (
      color: map.get($theme-color-link, 'on-surface-variant'),
      type: 'body-small',
    ),
    hover: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface')} 8%, transparent),
    ),
    active: (
      bg: color-mix(in srgb, #{map.get($theme-color-link, 'on-surface')} 12%, transparent),
    ),
  ),
);
