@use 'sass:map';
@use '../../abstracts/variables' as *;

$tokens: (
  height: 32rem,
  padding: (inline: 12rem),
  radius: 8rem,
  gap: 8rem,

  text: (
    type: 'label-large',
    color: (
      variant: map.get($theme-color-link, 'on-surface-variant'),
      default: map.get($theme-color-link, 'on-surface'),
      selected: var(--color-primary-container-contrast, var(--color-on-primary-container)),
    ),
  ),
  bg: (
    color: (
      default: var(--color-surface-container-highest),
      suggestion: var(--color-surface-container-low, var(--color-surface)),
      selected: var(--color-secondary-container, var(--color-primary-container)),
    ),
  ),
  border: (
    width: 1rem,
    color: (default: map.get($theme-color-link, 'outline')),
  ),

  icon: (size: 18rem),

  state: (
    layer: (
      opacity: (
        hover: 8%,
        active: 12%,
      ),
    ),
  ),
  disabled: (opacity: 0.38),
  suggestion: (shadow: 0 1rem 2rem rgb(0 0 0 / 10%)),
);
