@use '../../abstracts/forward.scss' as *;
@use 'sass:map';

$tokens: (
  standard: (container: (color: map.get($theme-color-link, surface-container),
      shape: map.get($theme-shape-link, full),
      elevation: elevation(3),
      height: 64rem,
    ),
    icon: (color: (default: map.get($theme-color-link, on-surface-variant),
        selected: map.get($theme-color-link, on-secondary-container),
      ),
    ),
  ),
  baseline: (container: (color: map.get($theme-color-link, surface-container),
      shape: 0,
      elevation: elevation(2),
      height: 80rem,
    ),
    with-fab: (container: (height: 72rem,
      ),
    ),
    icon: (color: (default: map.get($theme-color-link, on-surface-variant),
        selected: map.get($theme-color-link, on-secondary-container),
      ),
    ),
  ),
);